body {
    font-family: Cinzel, serif;
    background: #f4f4f4;
    text-align: center;
    padding: 40px;
}
html {
  scroll-behavior: smooth;
}

 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cinzel, serif;
}

body {
  background-color: #EAEAEA; 
  color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.logo img {
  height: 70px; 
  width: auto;
    display: block;
}


.nav-links {
  display: flex;
  gap: 30px; 
    align-items: center;
}

.nav-btn {
  color: #111111;
  text-decoration: none; 
  font-size: 1.4rem; 
  font-weight: 600;
  transition: color 0.2s ease, border-bottom 0.2s ease;
  padding-bottom: 4px;
}


.nav-btn:hover,
.nav-btn.active {
  color: #CFEFFF; 
  border-bottom: 3px solid #CFEFFF;
}


.main {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url('hero-bg.jpg') center/cover no-repeat;
}

.main-content {
  text-align: right;
}

.main-title {
  font-size: 5rem; 
  font-weight: 800;
}

.main-subtitle {
  font-size: 1.8rem; 
  color: #dddddd;
  margin-top: 10px;
}

.content-section {
  min-height: 80vh;
  padding: 120px 60px 40px 60px;
}

.content-section h2 {
  font-size: 2.5rem;
}
